.files {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.file {
  width: 100%;
  min-height: 40px;
  border: 2px solid rgba(25, 132, 181, 0.596);
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgb(255, 255, 255);
  color: black;
}

.icon {
  font-size: 18px;
  margin-right: 10px;
  color: rgb(25, 138, 191);
}

.name {
  font-size: 14px;
  color: var(--color-gray-9);
  margin-bottom: 0;
  width: 200px;
}
